<p>Hola {{name}},</p>

<p>Has solicitado restablecer tu contraseña. Haz clic en el siguiente enlace para restablecerla:</p>

<p><a href="{{resetUrl}}">Restablecer Contraseña</a></p>

<p>Si no solicitaste este cambio, puedes ignorar este correo electrónico.</p>

<p>Gracias,</p>
<p>El equipo de soporte</p>
